/**
!/.gitignore
!/README.md

# Nvim settings
!/nvim/
!/nvim/**

# Zed settings
!/zed/
!/zed/keymap.json
!/zed/settings.json

# kanata settings
!/kanata/
!/kanata/kanata.kbd
!/kanata/com.example.kanata.plis

# tmux seettings
!/tmux/
!/tmux/tmux.conf
