/**
!/.gitignore
!/README.md
!/install.sh
!/Brewfile

# Nvim settings
!/nvim/
!/nvim/**

# Zed settings
!/zed/
!/zed/keymap.json
!/zed/settings.json

# tmux settings
!/tmux/
!/tmux/tmux.conf

# zsh settings
!/zsh/
!/zsh/.aliases

# lazygit settings
!/lazygit/
!/lazygit/config.yml

